.NewCampaing-Container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 8vh;
}

.NewCampaingForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 19px 32px;
  width: 40vw;
  min-height: 80vh;
  background: #ffffff;
  border-radius: 12px;
  box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 2px 6px 2px rgb(60 64 67 / 15%);
}

.NewCampaingForm input {
  font-family: Ropa Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 21px;
  letter-spacing: 0.03em;
  color: #364863;
}
.NewCampaingForm input::placeholder,
.NewCampaingForm textarea::placeholder {
  font-family: Ropa Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 21px;
  letter-spacing: 0.03em;
  color: #364863;
}

.NewCampaingForm textarea {
  font-family: Ropa Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 21px;
  letter-spacing: 0.03em;
  color: #364863;
  width: 34rem;
  margin: 0.5rem 1rem;
  border-radius: 16px;
  padding-top: 0.5rem;
  padding-left: 2rem;
  border: none;
  background: #eef0f4;
}

.NewCampaingForm textarea:focus {
  outline: none;
  border: 1px solid #ff5224;
}

.uploadImg {
  font-family: Ropa Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 1.2rem;
  line-height: 21px;
  letter-spacing: 0.03em;
  color: #364863;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}

.NewCampaingForm-Tag {
  font-family: Ropa Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 21px;
  letter-spacing: 0.03em;
  color: #364863;

  border-radius: 1rem;
  height: 3.25rem;
  width: 36rem;
  margin: 1.2rem 2rem 0.5rem 1.8rem;
  border: 2px solid transparent;
  background: #eef0f4;
  padding: 0px 0px 0px 2rem;
}

.NewCampaingForm-Tag:focus {
  outline: none;
  border: 1px solid #ff5224;
}

.NewCampaingForm-Tag option[value=""][disabled] {
  display: none;
}

.NewCampaingForm-Tag option {
  font-weight: normal;
  font-family: Ropa Sans;
  font-style: normal;
  font-weight: normal;
  color: #364863;
  line-height: normal;
  padding: 0.5rem;
}
