@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Ropa+Sans&display=swap");

body {
  margin: 0px !important;
  padding: 0px !important;
  overflow-x: hidden;
  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
}

p {
  margin: 0%;
}

@media (max-width: 786px) {
  html {
    font-size: 65%;
  }
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}
