.DashBoardCard-Container {
  display: flex;
  max-width: 70vw;
  height: auto;
  background: #ffffff;
  border: 1px solid #f2f2f2;
  box-sizing: border-box;
  box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 1px 6px 2px rgb(60 64 67 / 15%);
  border-radius: 16px;
  padding: 1rem;
  /* padding-bottom: 0.5rem; */
  margin-top: 1.5rem;
}
.DashBoardCard-image {
  height: 100%;
  display: flex;
  align-items: center;
}
.DashBoardCard-Content {
  margin-left: 1rem;
}
.dc-h1 {
  font-weight: bold;
  font-size: 20px;
  line-height: 27px;
  letter-spacing: 0.03em;
  color: #000000;
  padding: 0.5rem 0;
}

.dc-h2 {
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.03em;
  color: #8c8c8c;
}

.dc-progressbar {
  margin: 0.5rem 0;
}

.deleteIcon {
  color: #8c8c8c;
  cursor: pointer;
}
